 
footer {
    grid-area: pie-de-pagina;
    background: $color-granitegray;
    color: $color-white;
    padding: 0px;
    padding-top: 50px;
    display: inline-block;
    text-align: center;
    height: 200px;
  }